# Environment variables for Supabase/Prisma
# Replace [YOUR-PASSWORD] with your actual database password

# Used for Migrations and Introspection
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.clxbdlqmbwzzuydxhyng.supabase.co:5432/postgres?pgbouncer=true"

# Used for Direct Transactions
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.clxbdlqmbwzzuydxhyng.supabase.co:5432/postgres"
